@charset "UTF-8";

/*カートテーブル
---------------------------------------------------------------------------*/
table.cart {
	width: 100%;
	margin-bottom: 20px;
}
table.cart, table.cart td, table.cart th {
	border: 1px solid #000;
}
table.cart td, table.cart th {
	padding: 5px;
	text-align: center;
}
table.cart th {
	background: #F0F0F0;
}
table.cart img {
	padding-right: 3px;
}
table.cart th.tamidashi {
	width: auto;
	text-align: left;
	color: #FFF;
	background-color: #000;
}

/*現在表示パーツ
---------------------------------------------------------------------------*/
.nav span {
	display: inline-block;
	border: 1px solid #999;
	padding: 2px 10px;
	border-radius: 4px;
	background: #ccc;
	color: #999;
	margin: 20px 10px;
}
.nav span.current {
	border: 1px solid #FF0000;
	background: #FF0000;
	color: #fff;
}
